<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fr">
 <head>
  <title>{{ episode.title }} - Radio RMLL</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{{theme.url_for_assets}}/css/screen.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/rating.css" media="screen" />
  <!-- imported from main site -->
  <!--[if IE]><![endif]-->
  <link rel="stylesheet" href="http://2011.rmll.info/squelettes/css/style.css" type="text/css" />
  <link rel="stylesheet" href="http://2011.rmll.info/squelettes/css/spip.css" type="text/css" />
  <!--[if IE 7]><link rel="stylesheet" href="" type="text/css" /><![endif]-->
  <!--[if IE 6]><link rel="stylesheet" href="http://2011.rmll.info/squelettes/css/ie6.css" type="text/css" /><![endif]-->


  <link rel='stylesheet' type='text/css' media='all' href='http://2011.rmll.info/extensions/porte_plume/css/barre_outils.css' />
  <link rel='stylesheet' type='text/css' media='all' href='http://2011.rmll.info/spip.php?page=barre_outils_icones.css' />
  <!-- /imported from main site -->

  <link rel="alternate" type="application/rss+xml" title="{{show.name}}" href="{{ show.url_for_podcast }}" />
  {{theme.javascript_include_tag}}
 </head>
 <body class="episode">
   <div id="page" class="deuxcolonnes">
     {% include 'rmll2011/header' %}

     <div id="location">
       {% include 'rmll2011/location' %} ; <a title="{{ episode.title }}" href="{{ episode.url_for }}">{{ episode.title }}</a> }
     </div>

     {% include 'rmll2011/sidebar' %}

     <div id="content">



       <h2>{{ episode.title }}</h2>
       <div id="details">
       <div class="broadcasted_at">{{episode.broadcasted_at | prettydate }}</div>
       <div class="vote">
         {{ episode.vote_tag }}
       </div>

       {{episode.image.tag}}
       </div>
       {{ episode.description | textilize }}


       {% unless episode.tags == empty %}
       <div class="tags">
         Mots-clés :
         {% for tag in episode.tags %}
         <a href="/tags/{{tag}}" rel="tag">{{tag}}</a>{% unless forloop.last %},{% endunless %}
         {% endfor %}
       </div>
       {% endunless %}

 	     <h3 class="listen">Ecoutez</h3>
       {% unless episode.contents == empty %}

   	   {% for content in episode.contents %}
	     <div class="audio" id="audio-{{forloop.index}}">
         <a href="{{content.url_for_playlist}}" title="Ecoutez {{content.name}} de {{episode.title}}"><img src="{{theme.url_for_assets}}/media/listen-small.jpg"/></a>
         <a href="{{content.url_for_playlist}}" title="Ecoutez {{content.name}} de {{episode.title}}">{{content.name}} &#8594;</a>
	       {% if content.duration %}
         <p class="duration">{{content.duration}} minutes</p>
         {% endif %}
	     </div>

	     {% endfor %}
	     {% else %}
       <p>
         {% if episode.broadcasted_at > now %}
         Ecoutez en direct cette émission {{episode.broadcasted_at | prettydate }}
         {% else %}
         Retrouvez prochainement le contenu de ce programme
         {% endif %}
       </p>
       {% endunless %}
       
			<div id="programme">
         {% include 'rmll2011/program' %}
       </div>

     </div>

     
     {% include 'rmll2011/footer' %}
   </div>
 </body>
</html>
